/* Block quotes more like post quotes */
.ql-container.ql-snow .ql-editor blockquote::before {
    content: "";
    padding-right: 0;
    display: none;
}

.ql-container.ql-snow .ql-editor blockquote {
    border-left: 4px solid #555;
    background-color: #444;
    line-height: 1.5em;
}

.ql-editor > blockquote:first-of-type {
    box-shadow: 1px 1px #777 inset, -1px 1px #777 inset;
    margin-right: 1rem;
    padding-top: 0.8rem;
}

.ql-editor > blockquote:first-of-type::before {
    display:block;
    color: #fff;
    padding: 0.3rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    margin-top: -0.8rem;
}

.ql-editor > blockquote:last-of-type {
    box-shadow: 1px -1px #777 inset, -1px -1px #777 inset;
    padding-bottom: 1rem;
}

/* Small quotes can look nicer since we don't have to rely on display: table-row */
.ql-editor > blockquote:only-of-type {
    display: table !important;
    padding: 0.8rem 1rem 1rem 1rem;
    box-shadow: 1px 1px #777 inset, -1px -1px #777 inset;
}

.ql-editor > blockquote:only-of-type::before {
    margin-left: -1rem;
}
