*, *::before, *::after {
    filter: saturate(200%);
}

html::before {
    animation: faggot 5s linear infinite;
}

@keyframes faggot {
    0% { filter: hue-rotate(0); }
    100% { filter: hue-rotate(360deg); }
}
