/* Block quotes more like post quotes */
.ql-container.ql-snow .ql-editor blockquote::before {
    content: "";
    padding-right: 0;
    display: none;
}

/*
.ql-editor > blockquote {
    box-shadow: 1px 0px #000 inset, -1px 0px #000 inset;
    background-color: rgba(44,125,189,0.2) !important;
    font-size: 0.8rem !important;
    display: block !important;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}*/

.ql-container.ql-snow .ql-editor blockquote {
    border-left: 4px solid #555;
    background-color: #444;
    line-height: 1.5em;
    /*
    padding: 1rem;
    */
}

.ql-editor > blockquote:first-of-type {
    box-shadow: 1px 1px #777 inset, -1px 1px #777 inset;
    margin-right: 1rem;
    padding-top: 0.8rem;
}

.ql-editor > blockquote:first-of-type::before {
    display:block;
    /*
    background-color: #2c7dbd !important;
    */
    color: #fff;
    padding: 0.3rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    margin-top: -0.8rem;
    /*
    width: calc(100% + 2rem);
    */
}

.ql-editor > blockquote:last-of-type {
    box-shadow: 1px -1px #777 inset, -1px -1px #777 inset;
}

/* Small quotes can look nicer since we don't have to rely on display: table-row */
.ql-editor > blockquote:only-of-type {
    display: table !important;
    padding: 0.8rem 1rem 1rem 1rem;
    box-shadow: 1px 1px #777 inset, -1px -1px #777 inset;
}

.ql-editor > blockquote:only-of-type::before {
    /*
    width: calc(100% + 2rem);
    */
    margin-left: -1rem;
}

.ql-editor > blockquote:only-of-type::after {
    /* padding-right: 0 !important; */
}

/* end better block quotes */
