/* general fixes */

/* stop overflow via emotes */
.ql-editor {
    overflow-y: visible;
}

/* increase twitter iframe height - might get increased later */
.ec_iframely_root .ec_iframely .iframely-embed {
    max-height: 900px;
}

/* fix cursor on embedded video */
.ql-editor > * {
    cursor: auto !important;
}

/* fix video player for firefox; shouldn't effect other browsers */
video {
    white-space: initial;
}

/* fixes titles not breaking words in two, possibly firefox exclusive */
.title, .subtitle {
	word-break: normal;
}
